<footer class="footer">
    <div class="container footer-container">
        <div class="footer-wrapper">
            <img src="/img/footer/logo.png" alt="logo" loading="lazy">
        <ul class="footer-navigation">
            <li class="footer-link f1">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>            
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms</a>
            </li>

        </ul>
    </div>
        <p class="footer-text">© 2026 Skull Treasures Match 3 Puzzle. All rights reserved.</p>
    </div>
</footer>