<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img class="logo-img" src="/img/footer/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_2486_2539)">
        <path d="M6.66663 10H33.3333" stroke="#F8F8FF" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        <path d="M6.66663 20H33.3333" stroke="#F8F8FF" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        <path d="M6.66663 30H33.3333" stroke="#F8F8FF" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
    </g>
    <defs>
        <clipPath id="clip0_2486_2539">
            <rect width="40" height="40" fill="white" />
        </clipPath>
    </defs>
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#about">About the Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#world">Treasures & Levels</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#powerful">Boosters</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#about">About the Game</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#world">Treasures & Levels</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#powerful">Boosters</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
    </ul>
</div>