<section class="home-section" id="home">
    <div class="container home-container">
       <h1 class="home-title">Match, Discover, and Unlock Hidden Treasures</h1>
       <ul class="home-list">
        <li class="home-item">
            <p>So you jump into Skull Treasures and boom - you're basically surrounded by all this mysterious ancient stuff. Like,
            symbols and old artifacts and treasure... honestly, just everything you'd expect from a pirate-themed puzzle game.</p>
        </li>
        <li class="home-item h2">
            <p>Swap colorful pieces, create powerful combinations, and clear the board as you progress through hundreds of challenging
            levels. Each match brings you closer to uncovering secrets buried deep within the puzzle adventure.</p>
        </li>
        <li class="home-item h3">
            <p>Get ready to dive into a world where you'll need some strategy, good timing, and yeah - some pretty clever combos if you
            want to actually win.</p>
        </li>
       </ul>
       <a class="home-link" href="https://play.google.com/store/apps/details?id=com.skulltreasures.match3&hl=en&gl=us">
        <p>Play</p>
       </a>
        <picture>
            <source srcset="
                /img/home/desk.png 1x,
                /img/home/desk@2x.png 2x
                " media="(min-width: 1440px)" />
            <source srcset="
                /img/home/mob.png 1x,
                /img/home/mob@2x.png 2x
                " media="(max-width: 1439px)" />
            <img src="/img/home/mob.png" alt="Skull Treasures Match 3 Puzzle" loading="lazy" />
        </picture>    
    </div>
</section>