@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.ttf') format('truetype');
}
body{
  font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #0d0b1c;
    background: #f8f8ff;
}
h2{
font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0em;
  color: #0d0b1c;
  margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
  h2{
    margin-bottom: 24px;
  }
}