.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
height: 94px;
background: #030949;
}

.header-container {
  padding: 24px 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  width: 54px;
    height: 54px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: inherit;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  background: #030949;
  padding: 60px 16px;
  width: 100%;
  height: 812px;
  z-index: 1000;
  position: fixed;
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

}


.menu-item {
  height: 25px;
font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0em;
  color: #fff;
  padding: 2px 8px;
  transition: font-weight 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
  font-weight: 600;
}



@media screen and (min-width: 1440px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 100px 14px;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-weight 0.3s ease-in-out;
font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0em;
  color: #fff;
  }

  .navigation-item:hover {
    font-weight: 600;
  }

  .navigation-item:focus,
  .navigation-item.active {
    font-weight: 600;
  }

}